#
# $Id: acl.sample,v 5.2 2005/11/23 23:12:22 anray Exp $
#

rfc2ftn

NetMail
alex@corex.izhora.spb.ru	*
*				*

EchoMail
alex@corex.izhora.spb.ru	*
*				*

ftn2rfc

NetMail
2:5074/1229.7			*

EchoMail
2:5074/1229.7			*
