#:ts=8
#
#   $Id: aliases.sample,v 5.1 2004/12/10 19:09:51 anray Exp $
#
# User name aliases
#
# username	FTN address		Full name
# --------	-----------		---------
root		2:5030/1229.0		"SysOp"

postmaster	2:5030/1229.1		"Mail Delivery Subsystem"

dyff		2:5030/1229.0		"Dmitry Fedotov"
dyff		2:5030/1229.0		"*"
